<h1>What's Going On</h1>

<div class="feed">


<% @jobs.reverse.each do |job| %>
    <h3> <%= job.id %>. <%= job.name %> <%= link_to 'Delete', job, :method => :delete, data: {confirm: "This is your last chance to change your mind!"} %> </h3>
    <div>
    <p> <b>Description: </b><%= job.description %> </p>
    <p> <b>Price: </b>$<%= job.price %> </p>
    <p> <b>Origin: </b><%= job.origin %> </p>
    <p> <b>Destination: </b><%= job.destination %> </p>
    <p> <b>Containers Needed: </b><%= job.containers %> </p>
    </div>
<% end %>
</div>
