<h1>Boats#create</h1>
<p>Find me in app/views/boats/create.html.erb</p>

<!-- Form to create a new boat -->

<h1>Create a New Boat</h1>


<%= simple_form_for(@boat) do |f| %>
<%=f.label :name%>
<br>
<%= f.input_field :name %>
<br>
<%=f.label :capacity%>
<br>
<%= f.input_field :capacity %>
<br>
<%= f.input :location, collection: Boat::PORTS %>
<%= f.input :avatar, as: :file %>
<%= f.submit %>
<% end %>
