<!-- Display all boats -->

<h1>The Fleet</h1>

<div class="feed">  
    <% @boats.reverse.each do |boat| %>
        <h3> <%= boat.id %>. <%= boat.name %> <%= link_to 'Delete', boat, :method => :delete, data: {confirm: "This is your last chance to change your mind!"} %> </h3>
        <h4> Home Port: <%= boat.location %> <h4>
        <h4> Capacity: <%= boat.capacity %> Containers Max</h4>
        <% if boat.avatar? %>
        <%= image_tag boat.avatar.url(:medium) %>
        <% else %>
        <% end %>
    <% end %>
</div>
