<h1>Boats#new</h1>
<p>Find me in app/views/boats/new.html.erb</p>

<%# <%= form_for(@boat, as: @boat, url: registration_path(@boat), html: { method: :put, multipart: true }) do |f| %> 
<%= form_for @boat do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :location %>
    <%= f.select :location, ["Philadelphia", "NYC","Houston"]%>
  </div>

  <div>
    <%= f.label :capacity %>
    <%= f.text_field :capacity %>
  </div>
  
  <div>
    <%= f.submit %>
  </div>

  <div class="field"> 
    <%= f.label :avatar %><br/> 
    <%= f.file_field :avatar %> 
  </div> 

  <% end %>
