<!DOCTYPE html>
<html>
  <head>
    <title>World Wide Shipping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div class="topnav">
        <a> <%= link_to 'View All Schedules', schedules_path %> </a>
      <% if user_signed_in? %>

        <a> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></a>
        <div class="dropdown">
          <button class="dropbtn">Boats</button>
            <div class="dropdown-content">
                <a><%= link_to 'Create New Boat', new_boat_path, class: 'test' %></a>
                <a><%= link_to 'View All Boats', boats_path %></a>
              </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Jobs</button>
              <div class="dropdown-content">
                  <a><%= link_to 'Create A Job', new_job_path %></a>
                  <a><%= link_to 'View All Jobs', jobs_path %></a>
                </div>
            </div>
        <a> <%= link_to 'Create New Schedule', new_schedule_path%></a>

        <%=image_tag("containers.png", alt: "ship", class: 'ship')%>
        <% else %>
         <%=image_tag("containers.png", alt: "ship", class: 'ship')%>
        <a><%= link_to 'Sign In', new_user_session_path %></a>
        <a><%= link_to 'View All Boats', boats_path %></a>
        <a><%= link_to 'View All Jobs', jobs_path %> </a>
         <% end %>
      </div>
      <div class="logo">
          <strong id="logo">Shipping Worldwide </strong> <br>
          <i>Committed to providing our customers with the best possible service and improving it every day</i>
        </div>


       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
