<!DOCTYPE html>
<html>
  <head>
    <title>World Wide Shipping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#boats">Boats</a>
        <a href="#jobs">Jobs</a>
        <a href="#profile">Profile</a>
         <%=image_tag("containers.png", alt: "ship", class: 'ship')%>
      </div>
      <div class="logo">
          <strong id="logo">Shipping Worldwide </strong> <br>
          <i>Committed to providing our customers with the best possible service and improving it every day</i>
        </div>


       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
